USE [master]
GO
/****** Object:  Database [SISTEMAEMPLEADOS]    Script Date: 15/10/2021 10:04:32 a. m. ******/
CREATE DATABASE [SISTEMAEMPLEADOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SISTEMAEMPLEADOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SISTEMAEMPLEADOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SISTEMAEMPLEADOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SISTEMAEMPLEADOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SISTEMAEMPLEADOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SISTEMAEMPLEADOS]
GO
/****** Object:  Table [dbo].[TBL_AREA]    Script Date: 15/10/2021 10:04:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_AREA](
	[NUM_AREA_ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](20) NOT NULL,
 CONSTRAINT [PK__TBL_AREA__F0F83F1C3ACBAE48] PRIMARY KEY CLUSTERED 
(
	[NUM_AREA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_EMPLEADO]    Script Date: 15/10/2021 10:04:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_EMPLEADO](
	[NUM_EMPLEADO_ID] [int] IDENTITY(1,1) NOT NULL,
	[NUM_TIPO_DOC_ID] [int] NOT NULL,
	[NUM_DOCUMENTO] [int] NOT NULL,
	[NOMBRE] [varchar](20) NOT NULL,
	[APELLIDO] [varchar](20) NOT NULL,
	[NUM_AREA_ID] [int] NOT NULL,
	[NUM_SUBAREA_ID] [int] NOT NULL,
 CONSTRAINT [PK__TBL_EMPL__191D4BAC8682D479] PRIMARY KEY CLUSTERED 
(
	[NUM_EMPLEADO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SUBAREA]    Script Date: 15/10/2021 10:04:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SUBAREA](
	[NUM_SUBAREA_ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](20) NOT NULL,
	[NUM_AREA_ID] [int] NOT NULL,
 CONSTRAINT [PK__TBL_SUBA__F3FCD892D7A716B8] PRIMARY KEY CLUSTERED 
(
	[NUM_SUBAREA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TIPO_DOCUMENTO]    Script Date: 15/10/2021 10:04:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TIPO_DOCUMENTO](
	[NUM_TIPO_DOC_ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_IDENTIFICACION] [varchar](20) NOT NULL,
	[DESCRIPCION] [varchar](60) NOT NULL,
 CONSTRAINT [PK__TBL_TIPO__2FAD7984FE046D63] PRIMARY KEY CLUSTERED 
(
	[NUM_TIPO_DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_AREA] ON 

INSERT [dbo].[TBL_AREA] ([NUM_AREA_ID], [NOMBRE]) VALUES (1, N'TECNOLOGIA')
INSERT [dbo].[TBL_AREA] ([NUM_AREA_ID], [NOMBRE]) VALUES (2, N'VENTAS')
SET IDENTITY_INSERT [dbo].[TBL_AREA] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_EMPLEADO] ON 

INSERT [dbo].[TBL_EMPLEADO] ([NUM_EMPLEADO_ID], [NUM_TIPO_DOC_ID], [NUM_DOCUMENTO], [NOMBRE], [APELLIDO], [NUM_AREA_ID], [NUM_SUBAREA_ID]) VALUES (4, 1, 456, N'Juan ', N'Martoza', 1, 3)
INSERT [dbo].[TBL_EMPLEADO] ([NUM_EMPLEADO_ID], [NUM_TIPO_DOC_ID], [NUM_DOCUMENTO], [NOMBRE], [APELLIDO], [NUM_AREA_ID], [NUM_SUBAREA_ID]) VALUES (9, 2, 789, N'Pedro', N'Rubiel', 2, 9)
INSERT [dbo].[TBL_EMPLEADO] ([NUM_EMPLEADO_ID], [NUM_TIPO_DOC_ID], [NUM_DOCUMENTO], [NOMBRE], [APELLIDO], [NUM_AREA_ID], [NUM_SUBAREA_ID]) VALUES (1002, 1, 3574, N'Miguel', N'Abadia', 1, 6)
SET IDENTITY_INSERT [dbo].[TBL_EMPLEADO] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_SUBAREA] ON 

INSERT [dbo].[TBL_SUBAREA] ([NUM_SUBAREA_ID], [NOMBRE], [NUM_AREA_ID]) VALUES (2, N'DESARROLLO', 1)
INSERT [dbo].[TBL_SUBAREA] ([NUM_SUBAREA_ID], [NOMBRE], [NUM_AREA_ID]) VALUES (3, N'FUNCIONAL', 1)
INSERT [dbo].[TBL_SUBAREA] ([NUM_SUBAREA_ID], [NOMBRE], [NUM_AREA_ID]) VALUES (6, N'PRUEBAS', 1)
SET IDENTITY_INSERT [dbo].[TBL_SUBAREA] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_TIPO_DOCUMENTO] ON 

INSERT [dbo].[TBL_TIPO_DOCUMENTO] ([NUM_TIPO_DOC_ID], [TIPO_IDENTIFICACION], [DESCRIPCION]) VALUES (1, N'CC', N'Cédula de ciudadanía')
INSERT [dbo].[TBL_TIPO_DOCUMENTO] ([NUM_TIPO_DOC_ID], [TIPO_IDENTIFICACION], [DESCRIPCION]) VALUES (2, N'NIT', N'NIT')
INSERT [dbo].[TBL_TIPO_DOCUMENTO] ([NUM_TIPO_DOC_ID], [TIPO_IDENTIFICACION], [DESCRIPCION]) VALUES (3, N'CE', N'Cedula de extrangeria')
SET IDENTITY_INSERT [dbo].[TBL_TIPO_DOCUMENTO] OFF
GO
ALTER TABLE [dbo].[TBL_EMPLEADO]  WITH CHECK ADD FOREIGN KEY([NUM_SUBAREA_ID])
REFERENCES [dbo].[TBL_SUBAREA] ([NUM_SUBAREA_ID])
GO
ALTER TABLE [dbo].[TBL_EMPLEADO]  WITH CHECK ADD  CONSTRAINT [fk_TBL_AREA] FOREIGN KEY([NUM_AREA_ID])
REFERENCES [dbo].[TBL_AREA] ([NUM_AREA_ID])
GO
ALTER TABLE [dbo].[TBL_EMPLEADO] CHECK CONSTRAINT [fk_TBL_AREA]
GO
ALTER TABLE [dbo].[TBL_EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TIPO_DOCUMENTO] FOREIGN KEY([NUM_TIPO_DOC_ID])
REFERENCES [dbo].[TBL_TIPO_DOCUMENTO] ([NUM_TIPO_DOC_ID])
GO
ALTER TABLE [dbo].[TBL_EMPLEADO] CHECK CONSTRAINT [FK_TBL_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[TBL_SUBAREA]  WITH CHECK ADD  CONSTRAINT [fk_TBL_AREA1] FOREIGN KEY([NUM_AREA_ID])
REFERENCES [dbo].[TBL_AREA] ([NUM_AREA_ID])
GO
ALTER TABLE [dbo].[TBL_SUBAREA] CHECK CONSTRAINT [fk_TBL_AREA1]
GO
/****** Object:  StoredProcedure [dbo].[ConsultarEmpleado]    Script Date: 15/10/2021 10:04:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ConsultarEmpleado]
	@NOMBRE varchar(50),
	@APELLIDO varchar(50)
	as
	begin
	select emp.* 
	from TBL_EMPLEADO emp
	where emp.NOMBRE=@NOMBRE OR emp.APELLIDO=@APELLIDO;
	END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarEmpleadosxArea]    Script Date: 15/10/2021 10:04:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ConsultarEmpleadosxArea]
	@NOMBREAREA varchar(50)
	as
	begin
	select emp.* 
	from TBL_EMPLEADO emp
	inner join TBL_AREA area on  area.NUM_AREA_ID=emp.NUM_AREA_ID
	where area.NOMBRE=@NOMBREAREA;
	END
GO
/****** Object:  StoredProcedure [dbo].[ConsultaSubAreasxArea]    Script Date: 15/10/2021 10:04:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ConsultaSubAreasxArea]
  @NUM_AREA_ID int
 as
 Begin
  select 
  subarea.* 
  from TBL_AREA area
  inner join TBL_SUBAREA subarea on area.NUM_AREA_ID=subarea.NUM_AREA_ID
  where area.NUM_AREA_ID=@NUM_AREA_ID;
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_PaginarEmpleados]    Script Date: 15/10/2021 10:04:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_PaginarEmpleados]
	@NroPagina int,
	@TamanioPagina int
	as
	begin
	SELECT * 
	FROM TBL_EMPLEADO t 
	ORDER BY t.NUM_EMPLEADO_ID
	OFFSET @TamanioPagina*(@NroPagina-1) ROWS FETCH NEXT @TamanioPagina ROWS ONLY;
	SELECT COUNT(1) AS TOTALEMP FROM TBL_EMPLEADO;

	END
GO
USE [master]
GO
