@model Prueba_Tecnica_Fanalca.Models.DB.TblEmpleado

@{
    ViewData["Title"] = "Crear nuevo Empleado";
}

<h1>Crear</h1>

<h4>Empleado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumTipoDocId" class="control-label"></label>
                <select asp-for="NumTipoDocId" class="form-control" asp-items="ViewBag.NumTipoDocId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NumDocumento" class="control-label"></label>
                <input asp-for="NumDocumento" class="form-control" />
                <span asp-validation-for="NumDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumAreaId" class="control-label"></label>
                <select id="listAreas" asp-for="NumAreaId" class="form-control"></select>
            </div>
            <span asp-validation-for="NumAreaId" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="NumSubareaId" class="control-label"></label>
                <select id="listSubAreas" asp-for="NumSubareaId" class="form-control">
                    <option>Seleccione</option>
                </select>
                <span asp-validation-for="NumSubareaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Empleado.js"></script>